body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  text-align: center;
}

a {
color: red;
padding-left: 50%;
padding-right: 50%;
}

table{
text-align: center;
border: 1px solid #666;
padding: 8px;
}

.form-center {
display:flex;
justify-content: center;
}
